.navbar {
    border-style: inherit;
    border-top:3px solid #F9A826;
    user-select: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.my-logo {
    color: #F9A826;
}

.brand-app-name {
    color: #5c6369;
}

.auth-info-div {
    height: 50px;
    float: right;
}

.btnLogout {
    height: 50px;
    width: 50px;
    float: right;
    line-height: 60px;
    text-align: center;
}

#btnLogoutIcon,#btnLoginIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
}
#btnLogoutIcon{
    background-image: url("/img/logout-button.png");
}
#btnLoginIcon{
    background-image: url("/img/login-button.png");
}


.user-info-name {
    float: left;
    line-height: 50px;
    text-align: center;
    color: #5c6369;
}