.nav-item, .nav-item-heading {
    padding: 2px 10px;
    margin-bottom: 1px;
    color: #27343b;
    font-size: 16px;
    font-family: system-ui, sans-serif;
    user-select: none;
}

.nav-item {
    font-size: 14px;
}

.nav-item:hover {
    background: rgba(249,168,38,.6);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

#navigation {
    width: 200px;
    background: #f8f9fa;
    z-index: 0;
    border-right: 1px solid #d4d4d4;;
}
