.nav-item, .nav-item-heading {
    padding: 5px 10px;
    margin-bottom: 1px;
    color: #27343b;
    font-family: system-ui, sans-serif;
    user-select: none;
}

.nav-item {
    padding-left: 25px;
    font-size: 14px;
}

.nav-item:hover {
    background: rgba(249,168,38,.6);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

#navigation {
    display: flex;
    flex-direction:column;
    overflow:hidden;
}

#navigation::-webkit-scrollbar {
    display: none;
}