<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Access denied</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <img alt="page not found" class="col-lg-3 col-md-4 col-6 m-auto" src="/img/undraw_access_denied.png">
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <p class="text-center" sec:authorize="!isAuthenticated()">
                Access denied, You are not allowed access this page, Please login to continue.
            </p>
            <p class="text-center" sec:authorize="isAuthenticated()">
                Access denied, You don't have access to this resource. Contact admin if you thing there is some fault.
            </p>
        </div>
    </div>
</div>
</body>
</html>