<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script>
    function handleRackIdChange(rackId) {
        document.getElementById('rackId').value = rackId
    }

    function addBookDetail() {
        //disable button
        $("#btnAddDetail").prop("disabled", true);
        const bookDetail = document.forms["bookDetail"];
        //year=first,brach,batch,semester,rollNumber
        let data = {
            title: bookDetail['title'].value,
            authors: bookDetail['authors'].value.split(','),
            rackId: bookDetail['rackId'].value,
            rackRow: bookDetail['rackRow'].value,
            isbn: bookDetail['isbn'].value
        };
        const http = new XMLHttpRequest();
        // send post request to login url
        http.open("POST", "/api/library/bookDetail", true);
        http.setRequestHeader("Content-type", "application/json");
        http.onload = function () {
            let res = JSON.parse(this.responseText);
            if (this.status === 201) {
                console.log(res)
                loadPageInContentDiv("library/add-book-copy.html?bookId=" + res.id);
            } else {
                $("#btnAddDetail").prop("disabled", false);
                defaultResponseHandler(res,this.status);
            }
        };

        http.send(JSON.stringify(data));
        return false;
    }
</script>
<body>
<div class="container">
    <div class="row my-3  align-items-center">
        <div class="col">
            <h1 class="h2">New Book Detail</h1>
        </div>
    </div>

    <div class="row my-2">
        <div th:replace="fragments/default-alerts"></div>
        <div class="col-12">
            <form class="needs-validation" id="bookDetailForm" name="bookDetail"
                  onsubmit="addBookDetail();return false;">
                <div class="row g-2">
                    <div class="col-12">
                        <label class="form-label" for="bookTitle">Boot title</label>
                        <input class="form-control"
                               id="bookTitle"
                               name="title"
                               required
                               type="text">
                        <div class="invalid-feedback">
                            Book title is required.
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="form-label" for="authors">Book authors</label>

                        <input class="form-control"
                               id="authors"
                               name="authors"
                               placeholder="separated by commas"
                               required
                               type="text">
                        <div class="invalid-feedback">
                            Author name is required.
                        </div>

                    </div>
                    <div class="col-6">
                        <label class="form-label" for="rackId">Rack Id</label>
                        <input class="form-control" data-bs-target="#mapModal" data-bs-toggle="modal" disabled
                               id="rackId" placeholder="Rack id"
                               type="text">
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="rackRow">Rack Row</label>
                        <input class="form-control" id="rackRow" placeholder="1" type="number">
                    </div>
                    <div class="col-12">
                        <label class="form-label" for="isbn">Book ISBN<span class="text-muted">(optional)</span></label>

                        <input class="form-control"
                               id="isbn"
                               name="isbn"
                               placeholder="1260440230"
                               type="text">

                    </div>
                </div>
                <button class="btn btn-outline-success my-4" id="btnAddDetail"
                        onclick="checkForm('#bookDetailForm')" type="submit">Add Book Detail
                </button>
            </form>
        </div>
    </div>

</div>

<!-- library map modal -->
<div aria-hidden="true" class="modal fade" id="mapModal" tabindex="1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content row">
            <div th:replace="svgi-library-map"></div>
            <div class="modal-footer">
                <button class="btn btn-success" data-bs-dismiss="modal" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>
<script>
    setRackClickListener();
</script>
</body>
</html>