<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script>
    function handleRackIdChange(rackId) {
        document.getElementById('rackId').value = rackId
    }

    function addBookCopy() {
        //disable button
        $("#btnAddDetail").prop("disabled", true);
        const bookDetail = document.forms["bookDetail"];
        //year=first,brach,batch,semester,rollNumber
        let data = {
            id: bookDetail['id'].value,
            bid: bookDetail['bid'].value
        };
        const http = new XMLHttpRequest();
        // send post request to login url
        http.open("POST", "/api/library/bookCopy", true);
        http.setRequestHeader("Content-type", "application/json");
        http.onload = function () {
                $("#btnAddDetail").prop("disabled", false);
            if (http.status!==403){
                let res = JSON.parse(this.responseText);
                if (res.status){
                    $("#alertSuccess").show();
                    $("#alertFail").hide();
                    document.getElementById('successMessage').innerText = res.message;
                }else {
                    $("#alertSuccess").hide();
                    $("#alertFail").show();
                    document.getElementById('errorMessage').innerText = res.message;
                }
            }else {
                alert(this.responseText)
            }
        };

        http.send(JSON.stringify(data));
    }
</script>
<body>
<div class="container">
    <div class="row my-2">
        <h1 class="h2 my-3">Add Book copy</h1>
        <div class="col-12">
            <div class="alert alert-success" style="display: none" id="alertSuccess" role="alert">
                <strong>Success!</strong> <span id="successMessage"></span>
            </div>
            <div class="alert alert-danger" style="display: none" id="alertFail" role="alert">
                <strong>Failed!</strong> <span id="errorMessage"></span>
            </div>
        </div>

        <div class="col-12">
            <form class="mb-3 needs-validation" id="bookDetailForm" name="bookDetail"
                  onsubmit="addBookCopy();return false;">
                <div class="row g-2">
                    <div class="col-12">
                        <label class="form-label" for="bookTitle">Boot title</label>
                        <input class="form-control"
                               disabled
                               id="bookTitle"
                               name="title"
                               th:value="${title}"
                               type="text">
                    </div>

                    <div class="col-12">
                        <label class="form-label" for="bid">Book Id</label>

                        <input class="form-control"
                               disabled
                               id="bid"
                               name="authors"
                               th:value="${bid}" type="text">

                    </div>
                    <div class="col-12">
                        <label class="form-label" for="id">Copy Id</label>
                        <input class="form-control" data-bs-target="#mapModal" data-bs-toggle="modal"
                               id="id" placeholder="Book copy id"
                               required type="text">
                    </div>
                    <hr class="my-4">

                    <button class="btn btn-outline-success" id="btnAddDetail"
                            onclick="checkForm('#bookDetailForm')" type="submit">Add Copy
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>