<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script>

    function checkForm(id) {
        $(id).addClass('was-validated')
    }

    function enrollStudent() {
        const enrollStudentForm = document.forms['enrollStudentForm'];

        let data = {
            studentUsername:enrollStudentForm['studentUsername'].value,
            branchId:enrollStudentForm['branchId'].value,
            courseId:enrollStudentForm['courseId'].value
        };
        let http = new XMLHttpRequest();
        http.open("POST","/api/course/enrollStudent");
        http.setRequestHeader("Content-type", "application/json");
        http.onload = function (){
            if (http.status!==403){
                let res = JSON.parse(this.responseText);
                if (res.status){
                    $("#alertSuccess").show();
                    $("#alertFail").hide();
                    document.getElementById('successMessage').innerText = res.message;
                }else {
                    $("#alertSuccess").hide();
                    $("#alertFail").show();
                    document.getElementById('errorMessage').innerText = res.message;
                }
            }else {
                alert(this.responseText)
            }
        };
        http.send(JSON.stringify(data));
        return false;
    }

    function loadBranches(courseId){
        const branchSelection = document.getElementById("branchOptions");
        branchSelection.innerHTML="<option value=''>Select branch</option>";

        const http = new XMLHttpRequest();
        http.open("GET","/api/course/getBranchList/"+courseId);
        http.onload = function (){
            let options = "<option value=''>Select branch</option>";
            JSON.parse(http.responseText).forEach(function (value) {
                options+="<option value='"+value.id+"'>"+value.name+"</option>"
            });
            branchSelection.innerHTML=options;
        }
        http.send();
    }
</script>
<body>
<div class="container">
    <div class="row my-3">
        <div class="col-12">
            <h1 class="h2">Course enrollment</h1>
            <form class="mb-3 needs-validation" id="courseEnrollmentForm" name="enrollStudentForm"
                  onsubmit="return enrollStudent();">
                <div class="row g-2">
                    <div class="col-12">
                        <div class="alert alert-success" style="display: none" id="alertSuccess" role="alert">
                            <strong>Success!</strong> <span id="successMessage"></span>
                        </div>
                        <div class="alert alert-danger" style="display: none" id="alertFail" role="alert">
                            <strong>Failed!</strong> <span id="errorMessage"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label" for="username">Student Username</label>
                        <div class="input-group">
                            <span class="input-group-text">@</span>
                            <input class="form-control rounded-end" id="username" name="studentUsername" th:value="${studentUsername}" placeholder="Username"
                                   required
                                   type="text">
                            <div class="invalid-feedback">
                                Your username is required.
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <label class="form-label" for="courseOptions">Select Course</label>
                        <select class="form-select" name="courseId" id="courseOptions" onchange="loadBranches(this.value)" required>
                            <option value="">Choose...</option>
                            <option th:each="course : ${#request.getAttribute('courses')}" th:value="${course.id}" th:text="${course.name}">
                                B.Tech
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid course.
                        </div>
                    </div>
                    <div class="w-100"></div>


                    <div class="col-md-4">
                        <label class="form-label" for="branchOptions">Select Branch</label>
                        <select class="form-select" id="branchOptions" name="branchId" required>
                            <option value="">Choose...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid course.
                        </div>
                    </div>
                    <hr class="my-4">

                    <button class="btn btn-outline-success" id="btnCreate"
                            onclick="checkForm('#enrollStudentForm')" type="submit">Enroll Student
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>