<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<body>
<script>
    function logout() {
        const http = new XMLHttpRequest();
        http.open('GET', '/logout');
        http.onreadystatechange = function () {
            if (this.readyState === 4) {
                if (this.status === 200) {
                    window.location = window.location.origin + "/home.html"
                }
            }
        };
        http.send();
    }
    function login() {
        window.location = window.location.origin + "/sso/login"
    }
</script>
<link rel="stylesheet" href="/css/header.css">
<div id="header" th:fragment="header">
    <div id="logo-div">ERP</div>
    <div id="header-app-name">
        CollageERP
    </div>
    <div class="auth-info-div" th:if="${#request.getAttribute('name')}!=null">
        <div class="user-info-name" th:text="${#request.getAttribute('name')}">vijay</div>
        <div class="btnLogout" onclick="logout()">
            <div id="btnLogoutIcon"></div>
        </div>
    </div>
    <div class="auth-info-div" th:if="${#request.getAttribute('name')}==null" onclick="login()">
        <div class="user-info-name">Login</div>
        <div class="btnLogout">
            <div class="btnLogout">
                <div id="btnLoginIcon"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>