<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script crossorigin="use-credentials" src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/home.js"></script>
</head>
<body>
<div class="box">
    <div class="header" th:replace="header"></div>
    <div class="container" sec:authorize="isAuthenticated()">
        <div  th:replace="navigation"></div>
        <div id="content" th:insert="default"></div>
    </div>

    <div class="container"  sec:authorize="!isAuthenticated()">
        <div th:replace="access-denied"></div>
    </div>
</div>
</body>
</html>