<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script>

</script>
<body>
<div class="container">

    <div class="row my-3 align-items-center">
        <div class="col">
            <h1 class="h2">Library Transactions</h1>
        </div>
        <div class="col">
            <div aria-label="Basic radio toggle button group" class="btn-group float-end align-middle"
                 role="group">
                <input autocomplete="off" class="btn-check" id="btnIssue" name="historyType"
                       onchange="changeHistoryType('issued')" th:checked="${#request.getAttribute('type')} == issued"
                       type="radio">
                <label class="btn btn-outline-primary" for="btnIssue">Issued</label>

                <input autocomplete="off" class="btn-check" id="btnSubmit" name="historyType"
                       onchange="changeHistoryType('submitted')"
                       th:checked="${#request.getAttribute('type')} == submitted" type="radio">
                <label class="btn btn-outline-primary" for="btnSubmit">Submitted</label>

                <input autocomplete="off" class="btn-check" id="btnAll" name="historyType"
                       onchange="changeHistoryType('all')" th:checked="${#request.getAttribute('type')} == all"
                       type="radio">
                <label class="btn btn-outline-primary" for="btnAll">All</label>
            </div>
        </div>
    </div>
    <script>
        function changeHistoryType(type) {
            loadPageInContentDiv('library/library-history.html?type=' + type)
        }
    </script>


    <div class="row my-2 g-2">
        <div class="col-md-4" th:each="history : ${#request.getAttribute('histories')}">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${history.title}">Title</h5>
                    <div class="card-text" th:text="${'Issued to : '+history.issuedTo}"></div>
                    <div class="card-text"
                         th:text="${'Issued on : '+#dates.format(history.issuedOn, 'dd-MMM-yyyy')}"></div>
                    <div class="card-text" th:if="${history.submittedOn}!=null"
                         th:text="${'Submitted on : '+#dates.format(history.submittedOn, 'dd-MMM-yyyy')}"></div>
                    <div class="w-100 my-2"></div>
                    <div class="text-danger" th:if="${history.submittedOn}==null">Issued</div>
                    <div class="text-success" th:if="${history.submittedOn}!=null">Submitted</div>
                    <div class="text-danger" th:if="${history.fine}!=0" th:text="'Rs.'+${history.fine}">Unavailable
                    </div>
                    <div class="w-100 my-2"></div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>