<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row my-3  align-items-center">
        <div class="col-6">
            <h2 class="h2">Course management</h2>
        </div>
    </div>

    <div class="row my-3  align-items-center" sec:authorize="hasRole('ADMIN')">
        <div class="col-6">
            <button class="btn btn-outline-success" onclick="loadPageInContentDiv('courses/add-course.html')">ADD
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h6 class="h6">Available courses</h6>
        </div>
        <div class="col-12">
            <table class="table table-bordered rounded shadow-sm">
                <thead class="table-dark">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        NAME
                    </th>
                    <th>
                        Duration
                    </th>
                    <th>
                        FEE
                    </th>
                    <th>
                        ACTIONS
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="align-middle" th:each="course : ${#request.getAttribute('courses')}">
                    <td th:text="${course.id}"></td>
                    <td th:text="${course.name}"></td>
                    <td th:text="${course.duration+' year' }"></td>
                    <td th:text="${course.totalFee}"></td>
                    <td>
                        <button class="btn btn-sm btn-outline-success"
                                sec:authorize="hasRole('ADMIN')"
                                th:attr="onclick=|loadPageInContentDiv('courses/manage-branches-for-course.html?courseId=${course.id}')|">
                            Manage
                        </button>
                            <button class="btn btn-sm btn-outline-success"
                                    sec:authorize="!hasRole('ADMIN')"
                                th:attr="onclick=|loadPageInContentDiv('courses/manage-branches-for-course.html?courseId=${course.id}')|">
                            View
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function deleteCourse(id) {
        const http = new XMLHttpRequest();
        http.open("DELETE", "/api/course/removeCourse/" + id);
        http.onload = function () {
            if (http.status === 200) {
                alert(JSON.parse(http.responseText).message);
                loadPageInContentDiv("courses/manage-courses.html");
            }
        };
        http.send();
    }
</script>
</body>
</html>