<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<body>
<script>
</script>
<link rel="stylesheet" href="/css/navigation.css">
<div id="navigation" th:fragment="navigation">

    <div class="nav-item-heading">Home</div>

    <div class="nav-item-heading">Exam</div>
    <div class="nav-item">Create Exam</div>
    <div class="nav-item">Declare Result</div>
    <div class="nav-item">View Result</div>

    <div class="nav-item-heading">Schedule</div>
    <div class="nav-item">Time table</div>
    <div class="nav-item">Manage</div>

    <div class="nav-item-heading">Students</div>
        <div class="nav-item" onclick="loadPageInContentDiv('student/create-student-account.html')">New Student</div>
    <div class="nav-item">Manage Student</div>
    <div class="nav-item">Reset Password</div>

    <div class="nav-item-heading">Faculties</div>
    <div class="nav-item">New Faculty</div>
    <div class="nav-item">Manage Faculty</div>


</div>

</body>
</html>