<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<script crossorigin="use-credentials" src="/js/jquery.min.js"></script>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<script src="/js/bootstrap.bundle.min.js"></script>

<body>
<div class="container">
    <div class="row align-items-center my-3 ">
        <div class="col">
            <h1 class="h4" th:text="${paperTitle}"></h1>
        </div>
        <div class="col-1" th:text="${time}">
            2 hour
        </div>
    </div>
    <div class="row my-2 g-2 " th:each="question : ${#request.getAttribute('questions')}">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-11">
                            <h3 class="card-title" th:text="${question.question}">Question</h3>
                        </div>
                        <div class="col" th:text="${question.mark+' mark'}">

                        </div>
                    </div>
                    <div class="row" th:if="${question.imageUrl} != null">
                        <img th:attr="src=|${question.imageUrl}|">
                    </div>
                    <div class="input-group my-2" th:each="option : ${question.options}">
                        <div class="input-group-prepend">
                            <div class="input-group-text h-100">
                                <label>
                                    <input type="radio" onchange="onOptionSelect(this)" th:value="${option}"
                                           th:attr="name=|${question.id}|">
                                </label>
                            </div>
                        </div>
                        <span type="text" class="form-control shadow-none" th:text="${option}">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12 col-md-4 ">
            <button data-bs-target="#confirmSubmission" data-bs-toggle="modal" class="btn btn-outline-primary w-100">
                Submit
            </button>
        </div>
    </div>

    <script>
        var solutions = [];

        function onOptionSelect(input) {
            solutions[`${input.name}`] = input.value;
        }

        function submitExam(id) {
            let answers = [];
            solutions.forEach((value, index) => {
                console.log(value,index);
                answers.push({
                    id:index,
                    value:value
                });
            })
            let data = {
                answers: answers
            };

            let http = new XMLHttpRequest();
            http.open("POST", "/api/exam/papers/submit-exam-solution/" + id);
            http.setRequestHeader("Content-type", "application/json");
            http.onload = function () {
                console.log(this.responseText);
            };
            http.send(JSON.stringify(data));

            console.log(data);
        }
    </script>

    <!-- confirm exam submission modal -->
    <div aria-hidden="true" class="modal fade" id="confirmSubmission" tabindex="1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure?</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body border-0">
                    Submit exam,Once submitted you are not allowed to resubmit this exam.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-danger" data-bs-dismiss="modal" th:attr="onclick=|submitExam('${paperId}')|"
                            type="button">Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>