<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Collage ERP</title>
</head>
<body style="text-align: center;height: 100%;">
<div style="display: inline-block;text-align: left;width: 400px;height:auto;box-shadow: 0 0 10px 0 rgba(0,0,0,0.20);
padding: 15px;">
    <h1 style="text-align: center;color: #F9A826">Collage ERP</h1>
    <h4>Project By</h4>
    <ul>
        <li>Vijay Patidar</li>
        <li>Rakesh Mukati</li>
        <li>Rahul Patil</li>
    </ul>
    <h4>Guided by</h4>
    <p>Ms. Chandramala Amrjit</p><br/>
    <a href="/home" style="margin: auto"><button>LAUNCH</button></a>
</div>
</body>
</html>