<!DOCTYPE html>
<html lang="en" class="h-100">
<head >
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Collage ERP</title>
    <script src="/js/jquery.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>

</head>
<body class="h-100">
<div class="container-fluid" style="height: 100%">
    <div class="row h-100">
        <div class="col-10 col-md-6 my-auto shadow offset-1 offset-md-3 card rounded">
            <div class="card-body">
                <h1 class="card-title text-center text-success">Collage ERP</h1>
                <h4>Project Detail</h4>
                <p class="text-body">
                    Microservice architecture based ERP solution for collage, for better scalability and cost efficient
                    solution.
                </p>
                <h4>Project By</h4>
                <ul>
                    <li>Vijay Patidar</li>
                    <li>Rakesh Mukati</li>
                    <li>Rahul Patil</li>
                </ul>
                <h4>Guided by</h4>
                <p>Ms. Chandramala Amrjit</p>

                <div class="row">
                    <div class="col-12 col-md-6 my-1">
                        <a href="/auth/login">
                            <button class="btn btn-outline-success w-100">LAUNCH</button>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 my-1">
                        <a href="https://github.com/vijaypatidar/CollageERP" target="_blank">
                            <button class="btn btn-outline-primary w-100">Source Code</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>