<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script>
    function resetPassword() {
        const bookDetail = document.forms["resetPasswordForm"];
        $("#btnResetPassword").prop("disabled", true);

        let data = {
            username: bookDetail['username'].value,
            password: bookDetail['password'].value
        };

        const http = new XMLHttpRequest();
        // send post request to login url
        http.open("POST", "/api/user/resetPassword", true);
        http.setRequestHeader("Content-type", "application/json");
        http.onload = function () {
            $("#btnResetPassword").prop("disabled", false);
            if (this.status === 403) {
                alert("Access denied")
            } else {
                let res = JSON.parse(this.responseText);
                console.log(this.responseText)
                if (res.status){
                    $("#alertSuccess").show();
                    $("#alertFail").hide();
                    document.getElementById('successMessage').innerText = res.message;
                }else {
                    $("#alertSuccess").hide();
                    $("#alertFail").show();
                    document.getElementById('errorMessage').innerText = res.message;
                }
            }
        };

        http.send(JSON.stringify(data));
        return false;
    }

    function usernameChangeHandler(usernameInput) {
        let username = usernameInput.value;
        //change profile pic
        document.getElementById("selectedUserImg").src = "/api/user/photos/profile/" + username;
        document.getElementById("issuerName").innerText = "...";
        const http = new XMLHttpRequest();
        http.open("GET", "/api/user/profile/" + username, true);
        http.setRequestHeader("Content-type", "application/json");
        http.onload = function () {
            let data = JSON.parse(http.responseText);
            document.getElementById("issuerName").innerText = `${data.firstName} ${data.lastName}`;
        };
        http.send();
    }
</script>
<body>
<div class="container">
    <div class="row my-3  align-items-center">
        <div class="col">
            <h1 class="h2">Reset password</h1>
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <form class="needs-validation" id="resetPasswordForm" name="resetPasswordForm"
                  onsubmit="resetPassword();return false;">
                <div class="row">
                    <div class="col-8">
                        <div class="alert alert-success" style="display: none" id="alertSuccess" role="alert">
                            <strong>Success!</strong> <span id="successMessage"></span>
                        </div>
                        <div class="alert alert-danger" style="display: none" id="alertFail" role="alert">
                            <strong>Failed!</strong> <span id="errorMessage"></span>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row g-2">
                            <div class="col-12">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control"
                                       id="username" name="username"
                                       placeholder=""
                                       required type="text" onchange="usernameChangeHandler(this)">
                            </div>
                            <div class="col-12">
                                <label class="form-label" for="password">New password</label>

                                <input class="form-control"
                                       id="password"
                                       required
                                       name="password"
                                       type="password">

                            </div>
                        </div>
                        <button class="btn btn-outline-success my-4" id="btnResetPassword"
                                onclick="checkForm('#resetPasswordForm')" type="submit">Change Password
                        </button>
                    </div>
                    <div class="col-4">
                        <h4 class="h5">User Profile</h4>
                        <div class="card rounded shadow-sm text-center p-2 ">
                            <div class="row">
                                <div class="col">
                                    <img style="height: 200px;width: 200px;"
                                         class="card-img-top shadow-sm rounded-circle" id="selectedUserImg" alt="#">
                                </div>
                            </div>

                            <div class="card-title my-2 px-2" id="issuerName"></div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
</body>
</html>