<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script>
    function checkForm(id) {
        $(id).addClass('was-validated')
    }


    function submitBook() {
        //disable button
        $("#btnSubmitBook").prop("disabled", true);
        const bookDetail = document.forms["submitBookForm"];

        let data = {
            bid: bookDetail['bid'].value
        };
        const http = new XMLHttpRequest();
        // send post request to login url
        http.open("POST", "/api/library/submitBook", true);
        http.setRequestHeader("Content-type", "application/json");
        http.onload = function () {
                $("#btnAddDetail").prop("disabled", false);
                if (this.status === 201) {
                    alert(this.responseText);
                } else {
                    if (this.status === 403) {
                        // $(this).prop("disabled",false);
                        alert("Access denied")
                    } else if (this.status === 409) {
                        // $(this).prop("disabled",false);
                        alert("Book already exits with same copy id");
                    } else {
                        alert(this.responseText);
                    }
                }
        };

        http.send(JSON.stringify(data));
        return false;
    }
</script>
<body>
<div class="container">
    <div class="row my-2">
        <div class="col-md-8 offset-md-2">
            <h1 class="h2 my-3">Book Submission</h1>
            <form class="mb-3 needs-validation" name="submitBookForm"
                  onsubmit="submitBook();return false;">
                <div class="row g-2">
                    <div class="col-12">
                        <label class="form-label" for="bid">Book Id</label>

                        <input class="form-control"
                               id="bid"
                               required
                               name="bid"
                               th:value="${bid}" type="text">
                        <div class="invalid-feedback">
                            Book Id required
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="btn btn-outline-success" id="btnSubmitBook"
                            onclick="checkForm('#bookIssueForm')" type="submit">Submit Book
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>