<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script>
    function checkForm(id) {
        $(id).addClass('was-validated')
    }


    function submitBook() {
        //disable button
        $("#btnSubmitBook").prop("disabled", true);
        const bookDetail = document.forms["submitBookForm"];

        let data = {
            bid: bookDetail['bid'].value
        };
        const http = new XMLHttpRequest();
        // send post request to login url
        http.open("POST", "/api/library/submitBook", true);
        http.setRequestHeader("Content-type", "application/json");
        http.onload = function () {
            $("#btnSubmitBook").prop("disabled", false);
            if (http.status!==403){
                let res = JSON.parse(this.responseText);
                if (res.status){
                    $("#alertSuccess").show();
                    $("#alertFail").hide();
                    document.getElementById('successMessage').innerText = res.message;
                }else {
                    $("#alertSuccess").hide();
                    $("#alertFail").show();
                    document.getElementById('errorMessage').innerText = res.message;
                }
            }else {
                alert(this.responseText)
            }
        };

        http.send(JSON.stringify(data));
        return false;
    }
</script>
<body>
<div class="container">
    <div class="row my-3  align-items-center">
        <div class="col">
            <h1 class="h2">Book Submission</h1>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-primary float-end" onclick="loadPageInContentDiv('library/submit-book.html')" type="button">Refresh</button>
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <form class="needs-validation" name="submitBookForm"
                  onsubmit="submitBook();return false;">
                <div class="row g-2">
                    <div class="col-12">
                        <div class="alert alert-success" style="display: none" id="alertSuccess" role="alert">
                            <strong>Success!</strong> <span id="successMessage"></span>
                        </div>
                        <div class="alert alert-danger" style="display: none" id="alertFail" role="alert">
                            <strong>Failed!</strong> <span id="errorMessage"></span>
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="form-label" for="bid">Book Id</label>

                        <input class="form-control"
                               id="bid"
                               required
                               name="bid"
                               th:value="${bid}" type="text">
                        <div class="invalid-feedback">
                            Book Id required
                        </div>
                    </div>

                </div>
                <button class="btn btn-outline-success my-4" id="btnSubmitBook"
                        onclick="checkForm('#bookIssueForm')" type="submit">Submit Book
                </button>
            </form>
        </div>
    </div>

</div>
</body>
</html>