<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div class="container">
    <div class="row my-3  align-items-center">
        <div class="col-6">
            <h2 class="h2">All exams</h2>
        </div>
    </div>

    <div class="row my-3 g-2">
        <div class="col-md-3">
            <label for="courseSelection">Select Course</label>
            <select class="form-select" id="courseSelection" onchange="loadBranches(this.value)">
                <option value="">Choose course</option>
                <option th:each="course : ${#request.getAttribute('courses')}" th:value="${course.id}"
                        th:selected="${course.id==courseId}" th:text="${course.name}">
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="branchSelection">Select Branch</label>
            <select class="form-select" id="branchSelection">
                <option value="">Select branch</option>
                <option th:each="branch : ${#request.getAttribute('branches')}" th:value="${branch.id}"
                        th:selected="${branch.id==branchId}" th:text="${branch.name}">
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="sessionSelection">Select Session</label>
            <select class="form-select" id="sessionSelection">
                <option value="">Select session</option>
                <option th:each="s : ${#request.getAttribute('sessions')}" th:value="${s.id}"
                        th:selected="${s.id==sessionId}" th:text="${s.name}">
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <label></label>
            <button class="btn btn-outline-success w-100" onclick="fetchList()">Get List</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered rounded shadow-sm">
                <thead class="table-dark">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Course
                    </th>
                    <th>
                        Branch
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Semester
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Mark
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="align-middle" th:each="exam : ${#request.getAttribute('exams')}">
                    <td th:text="${exam.title}"></td>
                    <td th:text="${exam.courseId}"></td>
                    <td th:text="${exam.branchId}"></td>
                    <td th:text="${exam.subjectId}"></td>
                    <td th:text="${exam.semester}"></td>
                    <td th:text="${#dates.format(exam.scheduledOn, 'dd-MMM-yyyy')}"></td>
                    <td th:text="${#dates.format(exam.scheduledOn, 'HH:mm a')}"></td>
                    <td th:text="${exam.totalMark}"></td>
                    <td>
                        <button class="btn btn-outline-success btn-sm"
                                th:attr="onclick=|loadPageInContentDiv('exams/edit-exam-detail.html?examDetailId=${exam.id}')|">
                            Edit
                        </button>
                        <a class="btn btn-sm btn-outline-success"
                           th:if="${exam.onlineMode}"
                           th:href="${'/exams/create-new-paper.html?paperId='+exam.id}"
                           target="_blank">Paper</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    function loadBranches(courseId) {
        const branchSelection = document.getElementById("branchSelection");
        branchSelection.innerHTML = "<option value=''>Select branch</option>";

        loadBranchListOptions(courseId, (options) => {
            branchSelection.innerHTML = options;
        });
    }

    function fetchList() {
        let courseSelection = document.getElementById("courseSelection").value;
        let branchSelection = document.getElementById("branchSelection").value;
        let sessionSelection = document.getElementById("sessionSelection").value;
        let url = "exams/view-all-exams.html?"
        url += "courseId=" + courseSelection + "&branchId=" + branchSelection + "&sessionId=" + sessionSelection;
        loadPageInContentDiv(url)
    }
</script>
</body>
</html>