<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div class="container">
    <div class="row my-3  align-items-center">
        <div class="col-6">
            <h2 class="h2">View time table</h2>
        </div>
    </div>

    <div class="row my-3 g-2">
        <div class="col-md-3">
            <label for="courseSelection">Select Course</label>
            <select class="form-select" id="courseSelection"
                    onchange="onCourseSelectionChange(this.value,'branchSelection')">
                <option value="">Choose course</option>
                <option th:each="course : ${#request.getAttribute('courses')}" th:value="${course.id}"
                        th:selected="${course.id==courseId}" th:text="${course.name}">
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="branchSelection">Select Branch</label>
            <select class="form-select" id="branchSelection">
                <option value="">Select branch</option>
                <option th:each="branch : ${#request.getAttribute('branches')}" th:value="${branch.id}"
                        th:selected="${branch.id==branchId}" th:text="${branch.name}">
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="sessionSelection">Select Session</label>
            <select class="form-select" id="sessionSelection">
                <option value="">Select session</option>
                <option th:each="s : ${#request.getAttribute('sessions')}" th:value="${s.id}"
                        th:selected="${s.id==sessionId}" th:text="${s.name}">
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <label></label>
            <button class="btn btn-outline-success w-100" onclick="viewTimeTable()">View</button>
        </div>
    </div>
    <div class="row">
        <div th:replace="fragments/default-alerts"></div>
        <div th:if="${timeTable!=null}" class="col-12">
            <table id="timeTable" class="table table-bordered rounded shadow-sm">
                <thead class="table-dark">
                <tr>
                    <th>
                        Time/Day
                    </th>
                    <th>
                        Monday
                    </th>
                    <th>
                        Tuesday
                    </th>
                    <th>
                        Wednesday
                    </th>
                    <th>
                        Thursday
                    </th>
                    <th>
                        Friday
                    </th>
                    <th>
                        Saturday
                    </th>
                </tr>
                </thead>
                <tbody id="dataContainer">
                <tr th:each="rows : ${timeTable}">
                    <td th:each="row : ${rows}" th:text="${row}">

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${timeTable!=null}" class="col-12">

            <button class="btn btn-outline-success" onclick="window.print()">
                PRINT
            </button>
        </div>
        <div th:if="${timeTable==null}" class="col-12">
            <p class="text-danger">Time table not found for selected detail.</p>
        </div>
    </div>

</div>

</body>
<script>
    function viewTimeTable() {
        let courseId = document.getElementById("courseSelection").value;
        let branchId = document.getElementById("branchSelection").value;
        let sessionId = document.getElementById("sessionSelection").value;
        loadPageInContentDiv(`/courses/view-time-table.html?courseId=${courseId}&branchId=${branchId}&sessionId=${sessionId}`)
    }
</script>
</html>