<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" th:fragment="navigation">
    <link href="/css/navigation.css" rel="stylesheet">

    <div class="nav-item-heading">Home</div>

    <div class="nav-item-heading">Exam</div>
    <div class="nav-item" sec:authorize="hasRole('USER')">Time table</div>
    <div class="nav-item" sec:authorize="hasRole('ADMIN')">Create Exam</div>
    <div class="nav-item">Declare Result</div>
    <div class="nav-item">View Result</div>

    <div class="nav-item-heading">Schedule</div>
    <div class="nav-item">Time table</div>
    <div class="nav-item" sec:authorize="hasRole('ADMIN')">Manage</div>

    <div sec:authorize="hasRole('ADMIN')">
        <div class="nav-item-heading">Students</div>
        <div class="nav-item" onclick="loadPageInContentDiv('student/create-student-account.html')">New Student</div>
        <div class="nav-item">Manage Student</div>
        <div class="nav-item">Reset Password</div>
    </div>
    <div>
        <div class="nav-item-heading">Library</div>
        <div class="nav-item" onclick="loadPageInContentDiv('library/add-book-detail.html')" sec:authorize="hasRole('ADMIN')">Add Book detail</div>
        <div class="nav-item" onclick="loadPageInContentDiv('library/issue-book.html')" sec:authorize="hasRole('ADMIN')">Issue Book</div>
        <div class="nav-item" onclick="loadPageInContentDiv('library/submit-book.html')" sec:authorize="hasRole('ADMIN')">Submit Book</div>
        <div class="nav-item" onclick="loadPageInContentDiv('library/explore-library-book.html')">Explore</div>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <div class="nav-item-heading" sec:authorize="hasRole('ADMIN')">Faculties</div>
        <div class="nav-item" onclick="loadPageInContentDiv('faculty/create-faculty-account.html')">New Faculty</div>
        <div class="nav-item">Manage Faculty</div>
    </div>


    <div class="nav-item-heading" sec:authorize="hasRole('USER')">My Profile</div>

</nav>

</body>
</html>